<header class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <nav>
      <div class="clearfix">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="favicon angular"> {{title}}
        </a>
      </div>
    </nav>
  </div>
</header>

<div class="spacer100"></div>

<div class="container">

  <p><strong>This app is the implementation of calculating the Fibonacci numbers. And also contains the implementation of long sum.</strong></p>

  <div class="form-group">
    <label for="numberFibonacci">Fibonacci digit number:</label>
    <input type="number" [(ngModel)]="num" (change)="num <= 500 ? Calculate(): true" class="form-control" id="numberFibonacci"
      min="0">
    <small id="numberFibonacciHelp"></small>
  </div>

  <div class="form-group">
    <button class="btn btn-default" (click)="Calculate()"> Calculate {{num > 500 ? '(Use Button)' : ''}}</button>
  </div>

  <div class="form-group">
    <label for="Fresult">Fibonacci result digit(len: {{resultLength}}):</label>
    <textarea class="form-control" id="Fresult" rows="10" [(ngModel)]="result"></textarea>
  </div>

  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    <strong>Long summation javascript function</strong>
  </div>

  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    <strong>Counting the number of Fibonacci</strong>
  </div>

</div>